



.button {
    
    border: none;
    
    text-decoration: none;
	text-align:center;
    display: inline-block;    		
	margin: 4px 2px;
	cursor:pointer;
	outline:none;
	
	height:60px;
}


.button:active {
 
  
  transform: translateY(4px);
}
.button1 {
	background-color:#1C1C1C;
	width:60px;
	border-radius:50%;
	color: white;
	font-size: 12px;
	
}

.button2{
	background-color: orange;
	width:60px;
	border-radius:50%;
	color: white;
	font-size: 20px;
}
.button3{
	background-color: #2E2E2E;
	width:60px;
	border-radius:50%;
	color: white;
	font-size: 20px;
}
.button4{
	background-color:#E6E6E6;
	width:60px;
	border-radius:50%;
	font-size: 20px;
	
}
.button0{
	background-color: #2E2E2E;
	width:130px;
	border-radius:45%;
	color: white;
	font-size: 20px;
}
.screen{
	
	border: none;
    color: white;
	background-color:black;
	font-size:50px;
	padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
	margin: 4px 2px;
}










